.content
  display: flex
  width: 100%
  align-items: center
.main-page-banner-container
  width: 100%
  height: 200px
  display: flex
  //flex-wrap: wrap
  //flex-direction: row
  //align-items: stretch
  background-color: #ba2430
//.main-page-banner-container__square
//  width: 100%
//  height: 100%
//  background-color: green
//  -ms-transform: skew(-40deg) rotate(50deg) /* IE 9 */
//  -webkit-transform: skew(-40deg) rotate(50deg) /* Chrome, Safari, Opera */
//  transform: skew(-40deg) rotate(50deg)