<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPHz1YPRwDxGxbh4dpTaeWNX_di163b88&callback"></script>
<%= javascript_pack_tag 'dashboard' %>
<%= stylesheet_pack_tag  'dashboard' %>
<div class="content">
  <div class="main-page-banner-container">
    <div class="main-page-banner__image-container">
      <div class="main-page-banner__image"></div>
    </div>
    <div class="main-page-banner__title-container">
      <div class="main-page-banner__title">Dawien</div>
      <div class="main-page-banner__description">Everyone has something to sell. The greatest thing you can ever sell is an idea or talent.</div>
    </div>
  </div>
  <div class="page-container">
    <div class="page-container__block-item page-container__welcome">
      <div class="page-container__title page-container__welcome-container-title">Welcome</div>
      <div class="page-container__welcome-container-page">
      </div>
    </div>
    <div class="page-container__block-item page-container__benefit">
      <div class="page-container__title">Our benefit</div>
    </div>
    <div class="page-container__block-item page-container__statistic">
      <div class="page-container__title">Statistic</div>
      <div class="page-container__content">
        <ul class="page-container__list">
          <li class="page-container__list-item">
            <div class="page-container__list-item-image page-container__list-item-image--stat1"></div>
            <div class="page-container__list-item-content">
              Integer et pretium nulla, sed tincidunt dui. Integer varius mi eget pulvinar suscipit.
            </div>
          </li>
          <li class="page-container__list-item">
            <div class="page-container__list-item-image page-container__list-item-image--stat2"></div>
            <div class="page-container__list-item-content">
              Nunc aliquet, risus in egestas rhoncus, nibh mauris tincidunt arcu, non feugiat diam enim ut lectus.
            </div>
          </li>
          <li class="page-container__list-item">
            <div class="page-container__list-item-image page-container__list-item-image--stat3"></div>
            <div class="page-container__list-item-content">
              Vestibulum ut risus dignissim, interdum sapien a, tincidunt mauris. Etiam malesuada rhoncus nisi, eu luctus dui eleifend eget.
            </div>
          </li>
          <li class="page-container__list-item">
            <div class="page-container__list-item-image page-container__list-item-image--stat4"></div>
            <div class="page-container__list-item-content">
              Suspendisse vitae elit mauris. Donec mollis ac quam eget convallis.
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="page-container__block-item page-container__merchant">
      <div class="page-container__title">Out merchant</div>
    </div>
    <div class="page-container__block-item page-container__team-container">
      <div class="page-container__title">Our team</div>
    </div>
    <div class="page-container__block-item page-container__subscribe">
      <div class="page-container__title">Subscribe our blog</div>
    </div>
    <div class="page-container__block-item page-container__map">
      <div class="page-container__title">Here we are</div>
      <div class="page-container__content ">
        <div class="map-block">
          <div id="myMap" ></div>
        </div>
      </div>
    </div>
  </div>
</div>
